.analytics-card {
    margin: 1rem 0;
    box-shadow: none;
    border: 1px solid var(--ion-color-light);
  }
  
  .header-row {
    font-weight: bold;
    background-color: var(--ion-color-light);
    padding: 0.5rem 0;
  }
  
  .data-row {
    border-bottom: 1px solid var(--ion-color-light);
    padding: 0.5rem 0;
  }
  
  :host ::ng-deep {
    .movement-high {
      color: var(--ion-color-danger);
      font-weight: bold;
    }
  
    .movement-medium {
      color: var(--ion-color-warning);
      font-weight: bold;
    }
  
    .movement-low {
      color: var(--ion-color-success);
    }
  }