
  <div class="ion-page" id="main-content">
    <ion-content [fullscreen]="true">
      <!-- Dashboard Summary Cards -->
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Total Users</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h2>{{ totalUsers }}</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Total Sales Amount</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h2>R{{ totalSalesAmount }}</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Pending Orders</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h2>{{ pendingOrders }}</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Statistics Charts -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Sales Overview</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <canvas #salesChart></canvas>
          </div>
          <ion-segment (ionChange)="changeFilter($event)" [value]="currentFilter">
            <ion-segment-button value="day">
              <ion-label>Day</ion-label>
            </ion-segment-button>
            <ion-segment-button value="week">
              <ion-label>Week</ion-label>
            </ion-segment-button>
            <ion-segment-button value="month">
              <ion-label>Month</ion-label>
            </ion-segment-button>
            <ion-segment-button value="year">
              <ion-label>Year</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-card-content>
      </ion-card>

    </ion-content>
  </div>